.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 200px;
  border: 1px solid lightgray;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 5px rgb(230 230 230);
  border-radius: 3px;
}

.card-image {
  width: 135px;
  height: 135px;
}

.card > h3 {
  margin: 10px;
}

.card > p {
  color: #b2b3b4;
}
